<div class="header">
    <div class="header__content">
        <div class="header__menu">
            <div class="header__options">
                <img src="../img/Combined%20Shape.png">
                <ul>
                    <li>Аренда</li>
                    <li>Продажа</li>
                    <li>Посуточно</li>
                    <li>Еще</li>
                </ul>
            </div>
            <div class="header__another-options">
                <ul>
                    <li>Разместить объявление</li>
                    <li>Войти</li>
                </ul>
            </div>

        </div>
        <div class="header__search-form">
            <h1>Поиск недвижимости в Украине</h1>
            <form action="#">
                <select name="cities">
                    <option value="lvov">Львов</option>
                    <option value="odessa">Одесса</option>
                    <option value="kiev" selected>Киев</option>
                    <option value="dnepr">Днепропетровск</option>
                </select>
            </form>
        </div>
    </div>
</div>
